* { font-family: 'FeuraSans'; }

@font-face {
  font-family: 'FeuraSans';
  src: url('fonts/FeuraSans-1.0/FeuraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FeuraSans';
  src: url('fonts/FeuraSans-1.0/FeuraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FeuraSans';
  src: url('fonts/FeuraSans-1.0/FeuraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FeuraSans';
  src: url('fonts/FeuraSans-1.0/FeuraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}